go 1.22.1

use(
./01-make-it-so
./02-let-s-fly
./03-do-it
./04-let-s-go-1
./04-let-s-go-2
./webapp
./webapp.next
./experiments/01-go
./experiments/02-go
./experiments/03-go
./05-chat-history
./06-the-art-of-the-prompt
./07-settings
./08-functions
./09-qna-intro
./10-qna
./11-summary
)